@model IEnumerable<CRUDLoja.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="CreateCategoria">Nova Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="UpdateCategoria" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="DeleteCategoria" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
